h1 {
  font-family: Garamond, Serif;
  Color: #4C4C4C;
  Margin: auto;
}
ul li {
  display: inline;
  padding: 40px;
}
#navbar a {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
  color: #000066;
  list-style-type: none;
  margin: auto;
/*  padding: 0;*/
  width: 100%;
  /*position: fixed;*/
  font-size: 15px;
  font-family: garamond;
}
#navbar a:hover {
  font-size: 20px;
  color: #000052;
}
#navbar a:visited {
  color: #E60000;
}
#navdiv {
 background-color: #197519;
 height: 20px;
 width: 100%;
}
body {
  background-image: greenbackground.img
}
